@model DBCResort.Models.reservation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>reservation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idReservation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idReservation)
            @Html.ValidationMessageFor(model => model.idReservation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Room_idRoom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Room_idRoom)
            @Html.ValidationMessageFor(model => model.Room_idRoom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Guest_idGuest, "guest")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Guest_idGuest", String.Empty)
            @Html.ValidationMessageFor(model => model.Guest_idGuest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Employee_idEmployee, "employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Employee_idEmployee", String.Empty)
            @Html.ValidationMessageFor(model => model.Employee_idEmployee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfStart)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfStart)
            @Html.ValidationMessageFor(model => model.DateOfStart)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfEnd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfEnd)
            @Html.ValidationMessageFor(model => model.DateOfEnd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExtraOptions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExtraOptions)
            @Html.ValidationMessageFor(model => model.ExtraOptions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfGuests)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumOfGuests)
            @Html.ValidationMessageFor(model => model.NumOfGuests)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfRooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumOfRooms)
            @Html.ValidationMessageFor(model => model.NumOfRooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
