@model Hotel2.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Room</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idRoom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employee.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumOfRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumOfRoom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumOfBeds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumOfBeds)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Info)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Info)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.idRoom }) |
    @Html.ActionLink("Back to List", "Index")
</p>
