@model Hotel2.Models.Reservation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reservation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idReservation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idReservation)
            @Html.ValidationMessageFor(model => model.idReservation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idRoom, "Room")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idRoom", String.Empty)
            @Html.ValidationMessageFor(model => model.idRoom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idGuest, "Guest")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idGuest", String.Empty)
            @Html.ValidationMessageFor(model => model.idGuest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEmpoyee, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idEmpoyee", String.Empty)
            @Html.ValidationMessageFor(model => model.idEmpoyee)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReservationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReservationDate)
            @Html.ValidationMessageFor(model => model.ReservationDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExtraOptions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExtraOptions)
            @Html.ValidationMessageFor(model => model.ExtraOptions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfRooms)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumOfRooms)
            @Html.ValidationMessageFor(model => model.NumOfRooms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfGuests)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumOfGuests)
            @Html.ValidationMessageFor(model => model.NumOfGuests)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
